<div *ngIf=loading class="loading">Loading&#8230;</div>

<div class="login_wrapper">
	
		<div class="container">
			<div class="row cf">
				<div class="col-12">
					<div class="login_main01 animated fadeInUp">
						<h1>Forgot Password </h1>
						<h1 style="color:#f30056">Enter The Email Associated With Your Account</h1>
						<div *ngIf="error" class="alert alert-danger"><strong>{{error}}</strong></div>
						<div *ngIf="success" class="alert alert-success"><strong>{{success}}</strong></div>
						<form  #myForm="ngForm" id="myForm" *ngIf="!success">
						<div class="login_form01">
							<input required type="text" [(ngModel)]="email" name="email" placeholder="Enter Your Email">
						</div>
						<div class="login_form01">
							<input (click)="send(email)" [disabled]="!myForm.form.valid" type="submit" value="Login">
						</div>
						</form>	
					</div>
				</div>
			</div>
		</div>
	
	</div>
